name: PyLint Workflow

on:
  push:

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set Up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install Linting Libraries
        run: |
          pip install autopep8 autoflake isort black

      - name: Check PEP8 Compliance
        run: |
          autopep8 --verbose --in-place --recursive --aggressive --aggressive .

      - name: Cleanup Code
        run: |
          autoflake --in-place --recursive --remove-all-unused-imports --remove-unused-variables --ignore-init-module-imports .

      - name: Format Code
        run: |
          isort .
          black --fast .

      - name: Commit Auto-fixes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'pyLint: auto-fixes'
          commit_options: '--no-verify'
          repository: .
          commit_user_name: wertstracys
          commit_user_email: 187879980+wertstracys@users.noreply.github.com
          commit_author: wertstracys <187879980+wertstracys@users.noreply.github.com>
